    <div class="Cleft">
      <p><img src="/assets/about.gif" /></p>
      <ul>
        
        <li><a href="about" title="公司简介">公司简介</a></li>
        
        <li><a href="about_wh" title="企业文化">企业文化</a></li>
        
        <li><a href="about_rl" title="人力资源">人力资源</a></li>
        
        <li><a href="about_zr" title="社会责任">社会责任</a></li>
        
      </ul>
    </div>