    <div class="Cleft">
      <p><img src="/assets/chanye.gif" /></p>
      <ul>
        <li><a href="/guoyuan/chanye_3" title="商贸中心">商贸中心</a></li>
        <li><a href="/guoyuan/chanye_4" title="生态农业">生态农业</a></li>
        <li><a href="/guoyuan/chanye_5" title="旅游度假">旅游度假</a></li>

      </ul>
    </div>