<div class="Foot">
  <div class="Ftxt">
    <div class="Fle"><img src="/assets/logo_2.png" /></div>
    <div class="Fce">商贸中心 | 生态农业 | 旅游度假
      <p>电话 / Tel:（0854）66889778<br>
        邮箱 / E-mail:genbanorg@qq.com<br>
        地址 / Add:深圳市南山区南山科技园</p>
    </div>
    <div class="Fri">©</div>
  </div>
</div>