<div class="Head">
  <div class="Logo"><a href="/"><img src="/assets/logo.jpg" border="0" /></a></div>
  <div class="Menu">
    <ul class="ul1">
      <li id="m1">
        <p class="on"></p>
        <a href="index" class="on"><em>Home<br>
        <b>首页</b></em></a></li>
      <li id="m2" onmouseover="Smenu(2)" onmouseout="Omenu(2)">
        <p></p>
        <a href="chanye"><em>Industry<br>
        <b>产业</b></em></a>
        <div id="tonav2" style="display:none;">
          <ul class="ul2">
            <li><a href="chanye_3">商贸中心</a></li>
            <li><a href="chanye_4">生态农业</a></li>
            <li><a href="chanye_5">旅游度假</a></li>
          </ul>
        </div>
      </li>
      <li id="m3" onmouseover="Smenu(3)" onmouseout="Omenu(3)">
        <p></p>
        <a href="new_0"><em>News<br>
        <b>新闻中心</b></em></a>
        <div id="tonav3" style="display:none;">
          <ul class="ul2">
            <li><a href="new_0">公司动态</a></li>
            <li><a href="new_yq">园区动态</a></li>
            <li><a href="new_cyfz">产业发展</a></li>
          </ul>
        </div>
      </li>
      <li id="m4" onmouseover="Smenu(4)" onmouseout="Omenu(4)">
        <p></p>
        <a href="about"><em>About us<br>
        <b>关于我们</b></em></a>
        <div id="tonav4" style="display:none;">
          <ul class="ul2">
            <li><a href="about">公司简介</a></li>
            <li><a href="about_wh">企业文化</a></li>
            <li><a href="about_rl">人力资源</a></li>
            <li><a href="about_zr">社会责任</a></li>
          </ul>
        </div>
      </li>
      <li id="m5" onmouseover="Smenu(5)" onmouseout="Omenu(5)">
        <p></p>
        <a href="contact"><em>Contact us<br>
        <b>联系我们</b></em></a></li>
    </ul>
  </div>
</div>

