    <div class="Cleft">
      <p><img src="/assets/news.gif" /></p>
      <ul>
        
        <li><a href="/guoyuan/new_0" title="公司新闻">公司新闻</a></li>
        
        <li><a href="/guoyuan/new_yq" title="园区动态">园区动态</a></li>
        
        <li><a href="/guoyuan/new_cyfz" title="产业发展">产业发展</a></li>
        
      </ul>
    </div>