<div class="ConnBan" style="background:url(/assets/about_ban.jpg) no-repeat center;"></div>
<div class="ConnTxt">
  <div class="AboutBox">
    <%= render '/layout_share/about'%>
    <div class="Cright">
      <div class="Word">
        <p> <strong style="color: rgb(83, 83, 83); font-family: Simsun; font-size: 14px; line-height: 24px;">企业使命：</strong><br style="color: rgb(83, 83, 83); font-family: Simsun; font-size: 14px; line-height: 24px;" />
<span style="color: rgb(83, 83, 83); font-family: Simsun; font-size: 14px; line-height: 24px;">以生态产业发展为事业，实现世界、企业、人的和谐共生。</span><br style="color: rgb(83, 83, 83); font-family: Simsun; font-size: 14px; line-height: 24px;" />
<strong style="color: rgb(83, 83, 83); font-family: Simsun; font-size: 14px; line-height: 24px;">企业愿景：</strong><br style="color: rgb(83, 83, 83); font-family: Simsun; font-size: 14px; line-height: 24px;" />
<span style="color: rgb(83, 83, 83); font-family: Simsun; font-size: 14px; line-height: 24px;">成为中国生态产业发展的领导力量。</span><br style="color: rgb(83, 83, 83); font-family: Simsun; font-size: 14px; line-height: 24px;" />
<strong style="color: rgb(83, 83, 83); font-family: Simsun; font-size: 14px; line-height: 24px;">品牌精神：</strong><br style="color: rgb(83, 83, 83); font-family: Simsun; font-size: 14px; line-height: 24px;" />
<span style="color: rgb(83, 83, 83); font-family: Simsun; font-size: 14px; line-height: 24px;">世界生态，和谐共生。</span><br style="color: rgb(83, 83, 83); font-family: Simsun; font-size: 14px; line-height: 24px;" />
<strong style="color: rgb(83, 83, 83); font-family: Simsun; font-size: 14px; line-height: 24px;">品牌个性：</strong><br style="color: rgb(83, 83, 83); font-family: Simsun; font-size: 14px; line-height: 24px;" />
<span style="color: rgb(83, 83, 83); font-family: Simsun; font-size: 14px; line-height: 24px;">融合、远瞻、人本、自然</span><br style="color: rgb(83, 83, 83); font-family: Simsun; font-size: 14px; line-height: 24px;" />
<strong style="color: rgb(83, 83, 83); font-family: Simsun; font-size: 14px; line-height: 24px;">经营理念：</strong><br style="color: rgb(83, 83, 83); font-family: Simsun; font-size: 14px; line-height: 24px;" />
<span style="color: rgb(83, 83, 83); font-family: Simsun; font-size: 14px; line-height: 24px;">生态为魂，创想未来。</span><span style="line-height:24px;background-color:#ffffff;font-family:Simsun;color:#666666;font-size:13px;"></span>&nbsp; </p>
      </div>
    </div>
  </div>
</div>