<div class="ConnBan" style="background:url(/assets/about_ban.jpg) no-repeat center;"></div>
<div class="ConnTxt">
  <div class="AboutBox">
<%=render '/layout_share/about'%>
    <div class="Cright">
      <div class="Word">
        <p> <span style="line-height:24px;background-color:#ffffff;font-family:Simsun;color:#666666;font-size:13px;"></span>&nbsp; </p>
      </div>
    </div>
  </div>
</div>