<div class="ConnBan" style="background:url(/assets/about_ban.jpg) no-repeat center;"></div>
<div class="ConnTxt">
  <div class="AboutBox">
<!--     <div class="Cleft">
      <p><img src="/assets/about.gif" /></p>
      <ul>
        
        <li><a href="about" title="公司简介">公司简介</a></li>
        
        <li><a href="about_wh" title="企业文化">企业文化</a></li>
        
        <li><a href="rl" title="人力资源">人力资源</a></li>
        
        <li><a href="zr" title="社会责任">社会责任</a></li>
        
      </ul>
    </div> -->
    <%= render '/layout_share/about'%>
    <div class="Cright">
      <div class="Word">
        <p> &nbsp;<span style="color: rgb(83, 83, 83); font-family: Simsun; font-size: 14px; line-height: 24px;">西南生态产业园是罗甸西南生态农业发展有限公司携手台湾力量，于贵州罗甸打造的集商业商贸,生态农业和旅游度假三大产业为一体，并致力于成为立足西南，辐射全国，放眼全球的国际领先的现代化生态产业园。</span>
<p style="margin: 0px; padding: 0px; color: rgb(83, 83, 83); font-family: Simsun; font-size: 14px; line-height: 24px;">
	项目总占地面积20000亩，总投资约70亿元人民币，以生态观光农业为龙头，以特色农产品生产与加工、现代农业科研中心为生态农业板块，以中药种植生产为板块补充；以商业商贸中心为市场驱动板块；以水上观光旅游、养生养老度假为旅游度假板块；集生态农业、商业商贸、旅游度假3大产业为一体的规模化、产业化生态产业园区。</p>
<p style="margin: 0px; padding: 0px; color: rgb(83, 83, 83); font-family: Simsun; font-size: 14px; line-height: 24px;">
	西南生态农业产业园启动建设后，将会在3-5年内，分3期建设，并最终将园区建设成贵州最大的生态产业园区，并全力申办成为国家级生态产业示范园区。</p>
<span style="color: rgb(83, 83, 83); font-family: Simsun; font-size: 14px; line-height: 24px;">西南生态产业园项目的实施，不仅仅是罗甸乃至西南前所未有的投资项目，更是一次重大的创举，一次由民间资本带动城市发展的重大创新举措；西南生态产业园项目的开展，将极大的改变罗甸的未来发展走向，是罗甸经济发展的一次大跨越，是中国西部发展更加深入西部内陆地区的大飞跃。</span>
<p style="margin: 0px; padding: 0px; color: rgb(83, 83, 83); font-family: Simsun; font-size: 14px; line-height: 24px;">
	改变一座城市，影响一个时代，整个园区建成之后，预估将会实现年产值20亿元，并将在今后每年持续增长，实现经济与环境生态的和谐发展，为区域经济增长、社会就业、地方税收带来极大促进和推动作用。</p>
<span style="line-height:24px;background-color:#ffffff;font-family:Simsun;color:#666666;font-size:13px;"></span>&nbsp; </p>
      </div>
    </div>
  </div>
</div>