<div class="ConnBan" style="background:url(/assets/product_ban.jpg) no-repeat center;"></div>
<div class="ConnTxt">
  <div class="ProdBox"> <div class="Proj" style="margin-right:40px;">
      <p class="p7"><b> <b>商贸中心</b></b><br>
        Commercial center</p>
      <a href="chanye_3">
      <p class="p8"><img src="/assets/1-14122G516060-L.jpg" border="0" /></p>
      </a> <a href="chanye_3">
      <div class="Pw">
        <p>西南百亿大市<br>一个大市场，一座新城市</p>
      </div>
      </a> </div><div class="Proj" style="margin-right:40px;">
      <p class="p7"><b> <b>生态农业</b></b><br>
        Ecological agriculture</p>
      <a href="chanye_4">
      <p class="p8"><img src="/assets/1-14122G535350-L.jpg" border="0" /></p>
      </a> <a href="chanye_4">
      <div class="Pw">
        <p>黔台生态农业产业园<br>携手台湾，共筑现代生态农业园</p>
      </div>
      </a> </div><div class="Proj" style="margin-right:40px;">
      <p class="p7"><b> <b>旅游度假</b></b><br>
        Tourism industry</p>
      <a href="chanye_5">
      <p class="p8"><img src="/assets/1-14122G53624W1.jpg" border="0" /></p>
      </a> <a href="chanye_5">
      <div class="Pw">
        <p>贵州生态旅游最佳目的地<br>生态贵州，大美西南</p>
      </div>
      </a> </div> </div>
</div>
