<div class="ConnBan" style="background:url(/assets/news_ban.jpg) no-repeat center;"></div>
<div class="ConnTxt">
  <div class="AboutBox">
    <%=render '/layout_share/chanye'%>
    <div class="Cright">
      <!--<div class="Nsea"> 
        <script>
		function chk()
		{
		  if(form1.keyword.value=="" || form1.keyword.value=="搜索")
		  {
		   alert('请输入搜索关键字！');
		   return false;
		  }
		  return true
		}
		</script>
        <form name="form1" method="get" action="search.php" onsubmit="return chk()">
          <div class="Ns"><span class="p9">
            <input type="text" name="keyword" class="wo1" onfocus="if (this.value=='搜索'){ this.value=''}"  onblur="if (this.value==''){ this.value='搜索'}" value="搜索" />
            </span><span class="p10">
            <input type="image"  src="/templets/default/images/sea.jpg"/>
            </span></div>
        </form>
      </div>-->
      <div class="Ntitle"><b>商贸中心</b><br>
        <span>2014年12月27日 16时25分05秒</span></div>
      <div class="Nlist">
        <p>
        
        <p> <p style="font-size: 16px; line-height: 28px; color: rgb(67, 67, 67); font-family: 宋体;">
	记者26日从国务院国资委获悉,国资委董事会试点工作办公室近日印发有关通知,决定航天科技、航天科工等16家企业纳入规范董事会建设范围,至此,国资委监管的112家中央企业中,董事会试点企业户数已达74家。</p>
<p style="font-size: 16px; line-height: 28px; color: rgb(67, 67, 67); font-family: 宋体;">
	　　根据通知,此番纳入规范董事会建设范围的16家企业是航天科技、航天科工、中船集团、国家电网、中国华电、中国一重、中化集团、中国五矿、中国建筑、中国化学工程、中国工艺集团、中国通号、建筑设计集团、中国航信、中国电建、西电集团。</p>
</p>
        <p> <br />
        </p>
        <p> <br />
        </p>
      </div>
    </div>
  </div>
</div>