<div class="ConnBan" style="background:url(/assets/news_ban.jpg) no-repeat center;"></div>
<div class="ConnTxt">
  <div class="AboutBox">
<%= render '/layout_share/chanye'%>
    <div class="Cright">
      <!--<div class="Nsea"> 
        <script>
		function chk()
		{
		  if(form1.keyword.value=="" || form1.keyword.value=="搜索")
		  {
		   alert('请输入搜索关键字！');
		   return false;
		  }
		  return true
		}
		</script>
        <form name="form1" method="get" action="search.php" onsubmit="return chk()">
          <div class="Ns"><span class="p9">
            <input type="text" name="keyword" class="wo1" onfocus="if (this.value=='搜索'){ this.value=''}"  onblur="if (this.value==''){ this.value='搜索'}" value="搜索" />
            </span><span class="p10">
            <input type="image"  src="/templets/default/images/sea.jpg"/>
            </span></div>
        </form>
      </div>-->
      <div class="Ntitle"><b>旅游度假</b><br>
        <span>2014年12月27日 16时10分47秒</span></div>
      <div class="Nlist">
        <p>
        
        <p> 问问去问问</p>
        <p> <br />
        </p>
        <p> <br />
        </p>
      </div>
    </div>
  </div>
</div>