<div class="ConnBan" style="background:url(/assets/contact_ban.jpg);">
  <div class="Cban">
    <div class="CLay"><img src="/assets/iii.png" /></div>
  </div>
</div>
<div class="ConnTxt">
  <div class="Lxbox">
    <div class="Lleft">
      <div class="Ln"><img src="/assets/icoe_5.gif" /></div>
      <div class="Lword">&nbsp;<span style="color: rgb(142, 142, 142); font-family: Simsun; font-size: 13px; line-height: 20px;">我们非常平易近人,并且愿意和你说话。随时给我打电话,送我们一个电子邮件, 告诉我们或简单地完成查询表格。</span>
<p style="margin: 10px 0px 0px; padding: 0px; font-size: 14px; color: rgb(83, 83, 83); line-height: 30px; font-family: Simsun;">
	电话/Tel：+(86)888-8888<br />
	邮箱/E-mail：xxx&copy;xxx.com<br />
	网址/Web:www.genban.org<br />
	地址/Add：xxxxxxxxx</p>

        </p>
      </div>
    </div>
    <div class="Lright">
      <table width="474" border="0" cellpadding="0" cellspacing="0">
        <form action="send_message" enctype="multipart/form-data" method="post">
<input type="hidden" name="action" value="post" />
<input type="hidden" name="diyid" value="1" />
<input type="hidden" name="do" value="2" />

          <tr>
            <td height="60" colspan="2" valign="top"><img src="/assets/icoe_4.gif" width="299" height="41" /></td>
          </tr>
          <tr>
            <td width="47" height="50" style="font-size:13px;  color:#6D6D6D;">姓名：</td>
            <td width="427"><input name="xing" type="text" id="xing" style="height:38px; width:400px; background-color:#fff; border:1px solid #C4C4C4;" /></td>
          </tr>
          <tr>
            <td height="50" style="font-size:13px;  color:#6D6D6D;">邮箱：</td>
            <td><input name="you" type="text" id="you" style="height:38px; width:400px; background-color:#fff; border:1px solid #C4C4C4;" /></td>
          </tr>
          <tr>
            <td height="50" style="font-size:13px;  color:#6D6D6D;">电话：</td>
            <td><input name="dian" type="text" id="dian" style="height:38px; width:400px; background-color:#fff; border:1px solid #C4C4C4;" /></td>
          </tr>
          <tr>
            <td height="194" style="font-size:13px;  color:#6D6D6D;">留言：</td>
            <td><textarea name="liu" id="liu" style="width:400px; height:180px;background-color:#fff; border:1px solid #C4C4C4;"></textarea></td>
          </tr>
          <input type="hidden" name="dede_fields" value="xing,text;you,text;dian,text;liu,text" />
<input type="hidden" name="dede_fieldshash" value="83507afe03aac387d3d59fd9a035010b" />
          <tr>
            <td height="80">&nbsp;</td>
            <td><input type="image" src="/assets/btn.gif"/>
              &nbsp;&nbsp;&nbsp;&nbsp;</td>
          </tr>
        </form>
      </table>
    </div>
  </div>
</div>