<div class="ConnBan" style="background:url(/assets/news_ban.jpg) no-repeat center;"></div>
<div class="ConnTxt">
  <div class="AboutBox">
    <div class="Cleft">
      <p><img src="/assets/news.gif" /></p>
      <ul>
        
        <li><a href="new_0" title="公司新闻">公司新闻</a></li>
        
        <li><a href="new_yq" title="园区动态">园区动态</a></li>
        
        <li><a href="new_cyfz" title="产业发展">产业发展</a></li>
        
      </ul>
    </div>
    <div class="Cright">

      <div class="Nbox"> <dl>
          <dt><a href="new_yq_6"><img src="/assets/1-14122GK4010-L.gif" width="206" height="120" border="0" /></a></dt>
          <dd><a href="new_yq_6"> 百亿农业生态产业园</a>
            <p> 5月8日-9日，台湾一国两制研究会暨农业专家考察团蔡武璋博士和世界至德总会暨经贸合作考察团吴希民博士一行 20 多名专家和客商到罗甸考察，县委常委、政法委书记雷学良、副县长... <br>
              2014年12月27日 </p>
          </dd>
        </dl> </div>
      <div class="dede_pages"><span class="pageinfo">共 <strong>1</strong>页<strong>1</strong>条记录</span></div>
    </div>
  </div>
</div>