<div class="ConnBan" style="background:url(/assets/news_ban.jpg) no-repeat center;"></div>
<div class="ConnTxt">
  <div class="AboutBox">
<%= render '/layout_share/new_0'%>
    <div class="Cright">
      <!--<div class="Nsea"> 
        <script>
		function chk()
		{
		  if(form1.keyword.value=="" || form1.keyword.value=="搜索")
		  {
		   alert('请输入搜索关键字！');
		   return false;
		  }
		  return true
		}
		</script>
        <form name="form1" method="get" action="search.php" onsubmit="return chk()">
          <div class="Ns"><span class="p9">
            <input type="text" name="keyword" class="wo1" onfocus="if (this.value=='搜索'){ this.value=''}"  onblur="if (this.value==''){ this.value='搜索'}" value="搜索" />
            </span><span class="p10">
            <input type="image"  src="/templets/default/images/sea.jpg"/>
            </span></div>
        </form>
      </div>-->
      <div class="Ntitle"><b>百亿农业生态产业园</b><br>
        <span>2014年12月27日 17时53分20秒</span></div>
      <div class="Nlist">
        <p>
        
        <p> <div class="Npic" style="width: 720px; height: auto; overflow: hidden; margin-left: 6px; margin-top: 18px; color: rgb(0, 0, 0); font-family: Simsun;">
	<img height="350" src="/assets/1K4112V0-0.jpg" width="680" /></div>
<div class="Nlist" style="width: 720px; margin-left: 6px; height: auto; overflow: hidden; margin-top: 18px; font-size: 13px; color: rgb(122, 122, 122); line-height: 24px; font-family: Simsun;">
	<p style="margin: 0px; padding: 0px;">
		&nbsp;</p>
	<p style="margin: 0px; padding: 0px;">
		5月8日-9日，台湾一国两制研究会暨农业专家考察团蔡武璋博士和世界至德总会暨经贸合作考察团吴希民博士一行 20 多名专家和客商到罗甸考察，县委常委、政法委书记雷学良、副县长陈义龙、副县长贾维军以及州台办、县台办、县政府办、农工局、住建局、文体广电旅游局、投资促进局、涉及涉及乡镇负责人等相关部门负责人全程陪同考察和座谈，县委副书记、县长杨兴华会见了专家和客商并在座谈会上作了重要讲话。考察团先后实地考察了我县茂井生态农业观光园项目、 西南商贸中心项目 和大小井旅游综合体开发项目等项目。</p>
	<p style="margin: 0px; padding: 0px;">
		在座谈会上， 罗甸县委副书记、县长杨兴华同志在会议上也作了重要讲话，杨兴华县长表态：秉承&ldquo;两岸一家亲&rdquo;的理念，倍加珍惜这次机会，以最优质的服务、最优惠的政策、最有力的措施，推进罗甸西南农业生态园区项目 尽快落地建设，同时 真诚地希望罗甸西南生态农业发展有限公司在罗甸县各个领域特别是山地生态高效农业发展上的合作， 为深入拓展更为广泛的合作空间奠定基础， 共同建设美 好生态罗甸。</p>
	<p style="margin: 0px; padding: 0px;">
		座谈会上， 罗甸西南生态农业发展有限公司吴仕贵董事长就如何建设农业生态产业园作了详细的介绍，对农业生态产业园作了短、中、长期规划， 考察团专家蔡武璋博士、吴希民主席等就我县与西南生态农业发展有限公司共同打造的罗甸西南农业生态产业园项目分别作了重要讲话，参会的各位专家和领导、部门负责人就如何打造罗甸西南农业生态产业园项目作了重要发言，提出了宝贵的建议及意见。</p>
	<p style="margin: 0px; padding: 0px;">
		最后，罗甸县人民政府与 罗甸西南生态农业发展有限公司签署了&ldquo; 罗甸西南农业生态产业园项目 &rdquo;投资合作框架协议书，农业 生态产业园主要建设种植高品位的经济林木、药用植物园、生态农庄、养殖园、种植业、游乐园，生态旅游业、农产品和药品加工、西南商贸中心等，占地 20000 多亩，项目预计投产近百亿元，一期于 2014 年 10 月动工， 2016 年 12 月底前竣工。企业希望将该农业生态产业园打造成中国著名的 冬季休闲旅游避寒胜地和老人越冬首选地 ，使之成为独具特色、世界影响的农业生态旅游度假聚群项目。该农业生态产业园的落地建设，填补了我县农业生态旅游综合开发的空白。</p>
</div>
<br />
</p>
        <p> <br />
        </p>
        <p> <br />
        </p>
      </div>
    </div>
  </div>
</div>