<div class="ConnBan" style="background:url(/assets/news_ban.jpg) no-repeat center;"></div>
<div class="ConnTxt">
  <div class="AboutBox">
<%= render '/layout_share/new_0'%>
    <div class="Cright">
      <!--<div class="Nsea"> 
        <script>
		function chk()
		{
		  if(form1.keyword.value=="" || form1.keyword.value=="搜索")
		  {
		   alert('请输入搜索关键字！');
		   return false;
		  }
		  return true
		}
		</script>
        <form name="form1" method="get" action="search.php" onsubmit="return chk()">
          <div class="Ns"><span class="p9">
            <input type="text" name="keyword" class="wo1" onfocus="if (this.value=='搜索'){ this.value=''}"  onblur="if (this.value==''){ this.value='搜索'}" value="搜索" />
            </span><span class="p10">
            <input type="image"  src="/templets/default/images/sea.jpg"/>
            </span></div>
        </form>
      </div>-->
      <div class="Ntitle"><b>生态产业园项目即将落户黔南州罗甸县</b><br>
        <span>2014年12月27日 14时27分35秒</span></div>
      <div class="Nlist">
        <p>
        
        <p> <div class="Npic" style="width: 720px; height: auto; overflow: hidden; margin-left: 6px; margin-top: 18px; color: rgb(0, 0, 0); font-family: Simsun;">
	<img height="350" src="/assets/142Z31M7-0.jpg" width="680" /></div>
<div class="Nlist" style="width: 720px; margin-left: 6px; height: auto; overflow: hidden; margin-top: 18px; font-size: 13px; color: rgb(122, 122, 122); line-height: 24px; font-family: Simsun;">
	<p style="margin: 0px; padding: 0px;">
		日前，以台湾&ldquo;一国两制&rdquo;研究会理事长、嘉义大学校友总会会长、嘉农农业发展基金会总裁、联合国&ldquo;世界和平奖&rdquo;唯一华人获得者蔡武璋博士为团长的&ldquo;台湾&lsquo;一国两制&rsquo;研究会暨农业专家考察团&rdquo;及世界至德总会董事局主席吴希民博士率领的&ldquo;世界至德总会暨经贸合作考察团&rdquo;一行12人，在贵州黔南州委常委、纪委书记魏明禄，州台办调研员罗世云，罗甸县人民政府县长杨兴华，县委常委、政法委书记雷学良，副县长陈义龙，贾维军以及相关部门负责人的陪同下对罗甸进行了为期两天的考察，期间就西南生态产业园项目建设进行了座谈并举行了签约仪式。</p>
	<p style="margin: 0px; padding: 0px;">
		罗甸西南生态产业园位于罗甸茂井镇，是积极响应国家大力支援西部开发，大力推动生态产业发展政策而建设实施的大型产业园区项目，项目占地20000亩，总投资约70亿元人民币；以生态观光农业为龙头，以特色农产品生产与加工、现代农业科研中心为生态农业板块，以中药种植生产为板块补充，以商业贸中心为市场驱动板块；以水上观光旅游、养生养老度假为旅游度假板块；以生态农业、商业商贸、旅游度假三大产业为一体的现代化、产业化生态产业园区。</p>
	<p style="margin: 0px; padding: 0px;">
		该生态农业产业园启动建设后，在3-5年内，分3期建设，将园区建设成贵州最大的生态产业园区，并全力申办成为国家级生态产业示范园区。</p>
	<p style="margin: 0px; padding: 0px;">
		整个园区建成之后，预估将会实现年产值20亿元，园区企业总产值百亿元，并将在今后每年持续增长，实现经济与环境生态的和谐发展，为区域城市进步、产业发展、经济增长、社会就业、地方税收带来极大促进和推动作用。</p>
	<p style="margin: 0px; padding: 0px;">
		座谈会会上，吴希民博士在致辞上表示，这次由世界至德总会和台湾&ldquo;一国两制&rdquo;研究会共同组织的经贸考察团到罗甸县进行了实地考察工作，对我们前期所做的项目调查论证工作进行综合总结，通过这次的考察工作，使我们对在罗甸县的投资更加充满了信心。在此，对黔南州及罗甸县的各级领导对项目前期调研工作的积极配合与大支持，我代表世界至德总会和台湾&ldquo;一国两制&rdquo;研究会的各位同仁表示衷心的感谢。</p>
	<p style="margin: 0px; padding: 0px;">
		此次由蔡武璋主席亲自率领的台湾专家考察团，将带来世界顶级的台湾嘉农的高新技术到罗甸来，将对罗甸县的农业开发起到不可估量的积极作用。在这里我特别隆重的推出蔡武璋主席，他是我们世界至德总会董事局常委、常务副主席，是联合国授于&ldquo;世界和平奖&rdquo;的唯一华人代表，是我们世界华人的光荣与骄傲，他为我们中华民族在世界舞台上争了光，为世界的和平发展做出了重大贡献。</p>
	<p style="margin: 0px; padding: 0px;">
		世界至德总会自从工作重点转移到以经济工作为中心，以经济带动文化的发展。各地积极开展经济活动以来，取得了明显的成效，罗甸是我们世界至德总会和台湾&ldquo;一国两制&rdquo;研究会共同组织开发的大陆重点项目，我们将根据各个项目组织强大的人力、物力、财力进行全方位的重磅投入，一定把罗甸打造成西南出海口的的农业观光、生态旅游、商业批发物流中心。为港澳地区、东南亚国家提供特色的农产品。罗甸的项目是海峡两岸共同举措，财团投入的大型综合项目，希望项目的落地和动作过程中，继续得到黔南州委、州政府，县委、县政府的支持帮助。</p>
	<p style="margin: 0px; padding: 0px;">
		黔南州台办调研员罗世云强调三个方面的问题：一是此项目的定位，真正把园区作为贵州与台湾两地的一个农业示范区来打造。因目前在大陆台湾农民创业有29个，2个农业试验区，叫示范区的还没有，罗甸的&ldquo;生态农业园&rdquo;一定要将台湾嘉农的元素融入进去。二是园区要按照世界品牌的标准来做，并希望蔡主席将嘉农的先进科技、先进理念毫不保留加入进去。三是希望罗甸县委、县政府要更加高度重视此项目，力争将此项目建设成两地农业示范基地，同时积极向国台办、国家农业部申报，力争将此项目作为国家级的项目来运作。</p>
</div>
<br />
</p>
        <p> <br />
        </p>
        <p> <br />
        </p>
      </div>
    </div>
  </div>
</div>