<div class="ConnBan" style="background:url(/assets/news_ban.jpg) no-repeat center;"></div>
<div class="ConnTxt">
  <div class="AboutBox">
    <div class="Cleft">
      <p><img src="/assets/news.gif" /></p>
      <ul>
        
        <li><a href="/guoyuan/new_0" title="公司新闻">公司新闻</a></li>
        
        <li><a href="/guoyuan/new_yq" title="园区动态">园区动态</a></li>
        
        <li><a href="/guoyuan/new_cyfz" title="产业发展">产业发展</a></li>
        
      </ul>
    </div>
    <div class="Cright">
      <div class="Nbox">  </div>
      <div class="dede_pages"><span class="pageinfo">共 <strong>0</strong>页<strong>0</strong>条记录</span></div>
    </div>
  </div>
</div>